
body {
    background-color: #1a1a1a; /* Negro oscuro */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.container{
    padding: 1%;
}
.navbar{
    width: 100%;
}

.navbar-brand{
    width: 100%;

}

.blueline{
    background-color: rgb(0, 132, 255);
    margin:30px;

}

.login-container {
    background-color: #2c2c2c; /* Gris oscuro */
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 255, 0, 0.3); /* Sombra verde */
    width: 100%;
    max-width: 400px;
}

.text-green {
    color: #00ff00; /* Verde brillante */
}

.btn-green {
    background-color: #00cc00; /* Verde más oscuro */
    color: white;
    border: none;
}

.btn-green:hover {
    background-color: #009900; /* Verde más oscuro al pasar el mouse */
}

#logout-btn{
    padding-left: 20px;
    padding-right: 20px;
}

#searchScreen{
    
    flex-direction: column;
    align-items: center; 
    width: 100%;
}


.navbar-nav .nav-item:last-child {
    margin-left: 50px; 
}

#userName {
    font-weight: bold; 
    color: rgb(0, 132, 255);
}
